* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: $red-color;
}

.container00 {
   min-height: 100vh;
}

.container01 {
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3vh;

   img {
      max-width: 200px;
      border: 1px solid $light-color;
      border-radius: 100%;
   }

   .name {
      font-size: 40px;
      color: $light-color;
   }

   .btn {
      width: 500px;
      border: 2px solid $light-color;
      border-radius: 15px;
      font-size: 18px;
      font-weight: 500;
      color: $light-color;
      transition: .5s;

      &:hover {
         transform: scale(1.25, 1.25);
         background-color: $red-neon-color;
         box-shadow: 1px 2px $light-color;
      }
   }
}

.footer {
   min-height: 10vh;
   width: 100%;
   min-height: auto;
   background-color: $dark-color;
   color: $light-color;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   font-size: 16px;
   padding-top: 1%;

   .contato a {
      color: $light-color;
      margin-right: 2%;
   }
}