* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: $dark-color;
}

.container00 {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Signika Negative', sans-serif;
}

.container01 {
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3vh;

   img {
      max-width: 200px;
      border: 1px solid $red-color;
      border-radius: 100%;
   }

   .name {
      display: flex;
      flex-direction: column;
      font-size: 40px;
      font-weight: 600;
      color: $light-color;
      margin-bottom: 0;
   }

   .work {
      font-size: 20px;
      font-weight: 400;
      color: $light-color;
   }

   .btn {
      width: 500px;
      border: 2px solid $light-color;
      border-radius: 1rem;
      font-size: 18px;
      font-weight: 500;
      color: $light-color;
      outline: none;
      position: relative;
      display: block;
      overflow: hidden;
      transition: 1s all ease;

      &::before {
         width: 0;
         height: 100%;
         background: $red-color;
         border-radius: 1rem;
         content: "";
         position: fixed;
         top: 0;
         left: 0;
         z-index: -1;
         transition: all 0.6s ease;
      }

      &:hover {
         transform: scale(1.15, 1.15);

         &::before {
            width: 100%;
         }
      }

   }
}

.footer {
   min-height: 10vh;
   width: 100%;
   min-height: auto;
   background-color: $dark-color;
   font-family: $text-footer;
   color: $light-color;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   gap: .5rem 1rem;
   font-size: 1rem;
   padding-top: 1%;
   border-top: 1px solid $light-color;

   .contato a {
      color: $light-color;
      margin-right: .250rem;
   }
}