@media (max-width: 650px) {
   .container01 {

      img {
         width: 150px;
      }

      .name {
         font-size: 35px;
      }

      .btn {
         width: 375px;
         font-weight: 400;
      }
   }
}

@media (max-width: 450px) {
   .container01 {
      img {
         width: 125px;
      }

      .name {
         font-size: 30px;
      }

      .btn {
         width: 300px;
         font-size: 16px;
         font-weight: 200;
      }
   }
}

@media (max-width: 375px) {
   .container01 {
      .name {
         font-size: 25px;
         font-weight: 600;
      }

      .work {
         font-size: 15px;
      }

      .btn {
         width: 250px;
         font-size: 15px;
      }
   }

   .footer {
      font-size: 12px;
   }
}

@media (max-width: 300px) {
   .container01 {
      .name {
         font-size: 20px;
      }

      .btn {
         width: 200px;
         font-size: 14px;
      }
   }

   .footer {
      font-size: 12px;
   }
}

@media (max-width: 243px) {

   .container01 {
      img {
         width: 75px;
      }

      .name {
         font-size: 16px;
         font-weight: 600;
      }

      .work {
         font-size: 13px;
      }

      .btn {
         width: 150px;
         font-size: 12px;
      }
   }

   .footer {
      font-size: 12px;
   }
}